##########################################################
#### File: RattanavilayThip_Project_Milestone_4<br>
#### Name: Thip Rattanavilay<br>
#### Date: 05/23/2021<br>
#### Course: DSC 540 - Assignment: Project: Milestone 4<br>
##########################################################

In [5]:
#import libraries
import urllib.request, urllib.parse, urllib.error
import requests
import pandas as pd
from bs4 import BeautifulSoup
import ssl
import re
import json
import matplotlib.pyplot as plt

# Connecting to an API/Pulling in the Data and Cleaning/Formatting

In [6]:
#called the api from api.covid19api.com
api_url = "https://api.covid19api.com/summary"
headers = {'Content-Type': 'application/json'}
response = requests.get(api_url, headers=headers)
response_json = response.json()

In [7]:
#Created a variable that would read the json specifically using countries
countries = (response_json['Countries'])

In [8]:
#Created the dataframe
df = pd.DataFrame(countries)
df

,ID,Country,CountryCode,Slug,NewConfirmed,TotalConfirmed,NewDeaths,TotalDeaths,NewRecovered,TotalRecovered,Date,Premium
0,7fdf637a-a0d3-4de9-828e-b1a72cb9ed7f,Afghanistan,AF,afghanistan,1509,76628,34,3068,74,58144,2021-06-05T03:26:06.997Z,{}
1,a70d5806-5fa8-4651-a9c6-ffd2a32e5f30,Albania,AL,albania,12,132372,0,2451,32,129598,2021-06-05T03:26:06.997Z,{}
2,d030fcd2-92d3-45b1-a1af-ede71b79f1fc,Algeria,DZ,algeria,385,130361,7,3504,250,90767,2021-06-05T03:26:06.997Z,{}
3,b2bfa956-394f-4742-b38e-e11438443196,Andorra,AD,andorra,6,13758,0,127,0,13527,2021-06-05T03:26:06.997Z,{}
4,d396fba4-054a-44c2-8e79-c57bc6c74233,Angola,AO,angola,167,35307,4,788,156,28802,2021-06-05T03:26:06.997Z,{}
...,...,...,...,...,...,...,...,...,...,...,...,...
186,765e41d1-6149-4e81-9c1d-054d375eda6a,Venezuela (Bolivarian Republic),VE,venezuela,0,238013,0,2689,0,218956,2021-06-05T03:26:06.997Z,{}
187,605c1e2d-94ec-4175-b0d3-46e9bc9aae49,Viet Nam,VN,vietnam,224,8287,2,51,157,3242,2021-06-05T03:26:06.997Z,{}
188,7772945a-28b6-4300-8425-c88b68dfc2bf,Yemen,YE,yemen,6,6773,0,1325,27,3511,2021-06-05T03:26:06.997Z,{}
189,02b57a39-7274-4c25-bc4a-9aaa6138da5b,Zambia,ZM,zambia,988,98376,9,1297,194,92514,2021-06-05T03:26:06.997Z,{}
190,78b31b09-387a-408d-8a1b-fc01891453a2,Zimbabwe,ZW,zimbabwe,52,39144,1,1605,10,36690,2021-06-05T03:26:06.997Z,{}

In [9]:
#Slug has everything in lowercase as those are proper nouns so I'm going to capitalize the first letter 
df['Slug'] = df['Slug'].str.capitalize()   
df

,ID,Country,CountryCode,Slug,NewConfirmed,TotalConfirmed,NewDeaths,TotalDeaths,NewRecovered,TotalRecovered,Date,Premium
0,7fdf637a-a0d3-4de9-828e-b1a72cb9ed7f,Afghanistan,AF,Afghanistan,1509,76628,34,3068,74,58144,2021-06-05T03:26:06.997Z,{}
1,a70d5806-5fa8-4651-a9c6-ffd2a32e5f30,Albania,AL,Albania,12,132372,0,2451,32,129598,2021-06-05T03:26:06.997Z,{}
2,d030fcd2-92d3-45b1-a1af-ede71b79f1fc,Algeria,DZ,Algeria,385,130361,7,3504,250,90767,2021-06-05T03:26:06.997Z,{}
3,b2bfa956-394f-4742-b38e-e11438443196,Andorra,AD,Andorra,6,13758,0,127,0,13527,2021-06-05T03:26:06.997Z,{}
4,d396fba4-054a-44c2-8e79-c57bc6c74233,Angola,AO,Angola,167,35307,4,788,156,28802,2021-06-05T03:26:06.997Z,{}
...,...,...,...,...,...,...,...,...,...,...,...,...
186,765e41d1-6149-4e81-9c1d-054d375eda6a,Venezuela (Bolivarian Republic),VE,Venezuela,0,238013,0,2689,0,218956,2021-06-05T03:26:06.997Z,{}
187,605c1e2d-94ec-4175-b0d3-46e9bc9aae49,Viet Nam,VN,Vietnam,224,8287,2,51,157,3242,2021-06-05T03:26:06.997Z,{}
188,7772945a-28b6-4300-8425-c88b68dfc2bf,Yemen,YE,Yemen,6,6773,0,1325,27,3511,2021-06-05T03:26:06.997Z,{}
189,02b57a39-7274-4c25-bc4a-9aaa6138da5b,Zambia,ZM,Zambia,988,98376,9,1297,194,92514,2021-06-05T03:26:06.997Z,{}
190,78b31b09-387a-408d-8a1b-fc01891453a2,Zimbabwe,ZW,Zimbabwe,52,39144,1,1605,10,36690,2021-06-05T03:26:06.997Z,{}

In [10]:
#Want to split up the date/time column into separate columns one for date and one for time
df['Dates'] = pd.to_datetime(df['Date']).dt.date
df['Time'] = pd.to_datetime(df['Date']).dt.time
df

,ID,Country,CountryCode,Slug,NewConfirmed,TotalConfirmed,NewDeaths,TotalDeaths,NewRecovered,TotalRecovered,Date,Premium,Dates,Time
0,7fdf637a-a0d3-4de9-828e-b1a72cb9ed7f,Afghanistan,AF,Afghanistan,1509,76628,34,3068,74,58144,2021-06-05T03:26:06.997Z,{},2021-06-05,03:26:06.997000
1,a70d5806-5fa8-4651-a9c6-ffd2a32e5f30,Albania,AL,Albania,12,132372,0,2451,32,129598,2021-06-05T03:26:06.997Z,{},2021-06-05,03:26:06.997000
2,d030fcd2-92d3-45b1-a1af-ede71b79f1fc,Algeria,DZ,Algeria,385,130361,7,3504,250,90767,2021-06-05T03:26:06.997Z,{},2021-06-05,03:26:06.997000
3,b2bfa956-394f-4742-b38e-e11438443196,Andorra,AD,Andorra,6,13758,0,127,0,13527,2021-06-05T03:26:06.997Z,{},2021-06-05,03:26:06.997000
4,d396fba4-054a-44c2-8e79-c57bc6c74233,Angola,AO,Angola,167,35307,4,788,156,28802,2021-06-05T03:26:06.997Z,{},2021-06-05,03:26:06.997000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
186,765e41d1-6149-4e81-9c1d-054d375eda6a,Venezuela (Bolivarian Republic),VE,Venezuela,0,238013,0,2689,0,218956,2021-06-05T03:26:06.997Z,{},2021-06-05,03:26:06.997000
187,605c1e2d-94ec-4175-b0d3-46e9bc9aae49,Viet Nam,VN,Vietnam,224,8287,2,51,157,3242,2021-06-05T03:26:06.997Z,{},2021-06-05,03:26:06.997000
188,7772945a-28b6-4300-8425-c88b68dfc2bf,Yemen,YE,Yemen,6,6773,0,1325,27,3511,2021-06-05T03:26:06.997Z,{},2021-06-05,03:26:06.997000
189,02b57a39-7274-4c25-bc4a-9aaa6138da5b,Zambia,ZM,Zambia,988,98376,9,1297,194,92514,2021-06-05T03:26:06.997Z,{},2021-06-05,03:26:06.997000
190,78b31b09-387a-408d-8a1b-fc01891453a2,Zimbabwe,ZW,Zimbabwe,52,39144,1,1605,10,36690,2021-06-05T03:26:06.997Z,{},2021-06-05,03:26:06.997000

In [11]:
#Now I can drop the original column Date
df.drop(columns=['Date'])

,ID,Country,CountryCode,Slug,NewConfirmed,TotalConfirmed,NewDeaths,TotalDeaths,NewRecovered,TotalRecovered,Premium,Dates,Time
0,7fdf637a-a0d3-4de9-828e-b1a72cb9ed7f,Afghanistan,AF,Afghanistan,1509,76628,34,3068,74,58144,{},2021-06-05,03:26:06.997000
1,a70d5806-5fa8-4651-a9c6-ffd2a32e5f30,Albania,AL,Albania,12,132372,0,2451,32,129598,{},2021-06-05,03:26:06.997000
2,d030fcd2-92d3-45b1-a1af-ede71b79f1fc,Algeria,DZ,Algeria,385,130361,7,3504,250,90767,{},2021-06-05,03:26:06.997000
3,b2bfa956-394f-4742-b38e-e11438443196,Andorra,AD,Andorra,6,13758,0,127,0,13527,{},2021-06-05,03:26:06.997000
4,d396fba4-054a-44c2-8e79-c57bc6c74233,Angola,AO,Angola,167,35307,4,788,156,28802,{},2021-06-05,03:26:06.997000
...,...,...,...,...,...,...,...,...,...,...,...,...,...
186,765e41d1-6149-4e81-9c1d-054d375eda6a,Venezuela (Bolivarian Republic),VE,Venezuela,0,238013,0,2689,0,218956,{},2021-06-05,03:26:06.997000
187,605c1e2d-94ec-4175-b0d3-46e9bc9aae49,Viet Nam,VN,Vietnam,224,8287,2,51,157,3242,{},2021-06-05,03:26:06.997000
188,7772945a-28b6-4300-8425-c88b68dfc2bf,Yemen,YE,Yemen,6,6773,0,1325,27,3511,{},2021-06-05,03:26:06.997000
189,02b57a39-7274-4c25-bc4a-9aaa6138da5b,Zambia,ZM,Zambia,988,98376,9,1297,194,92514,{},2021-06-05,03:26:06.997000
190,78b31b09-387a-408d-8a1b-fc01891453a2,Zimbabwe,ZW,Zimbabwe,52,39144,1,1605,10,36690,{},2021-06-05,03:26:06.997000

In [12]:
df.to_csv('covid_clean_data3.csv')